/* ---------- メディアクエリー ---------- */

@media (max-width: 600px) {
  .main-title {
    font-size: 2.5rem;
  }

  /* ----- header ----- */
  .page-header {
    flex-direction: column;
    align-items: center;
  }

  .headerNavi_target {
    font-size: 0.5rem;
    margin-top: 10px;
  }

  .headerNavi_item {
    margin: 0 20px;
  }

  /* ----- home ----- */
  .home-content {
    margin-top: 20%;
  }

  /* ----- greeting ----- */
  #greeting .page-title {
    margin-top: 30px;
  }

  .greeting-contents {
    flex-direction: column;
  }

  article,
  aside {
    width: 100%;
  }

  .post-info {
    margin-bottom: 30px;
  }

  .post-icon {
    width: 70px;
    height: 70px;
    font-size: 1rem;

    & span {
      font-size: 0.875rem;
      padding-top: 2px;
    }
  }

  .post-title {
    font-size: 1.375rem;
  }

  .post-title,
  .post-subtitle {
    margin-left: 80px;
  }

  aside {
    margin-top: 60px;
  }
}
